html {
  background-color: darkgray;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;

}

.timeline {
  position: relative;
  max-width: 600px;
  min-width: 600px;
  margin: 0 auto;
  padding-left: 40px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(255, 255, 255, 0.25);
}

.timeline-item {
  position: relative;
  display: grid;
  grid-template-columns: 2rem 1fr; /* marker column + content column */
  column-gap: 1rem;
  padding: 1rem 0;
}

.timeline-marker {
  position: relative;
}

/* the dot */
.timeline-marker::before {
  content: "";
  position: absolute;
  left: calc(1rem - 6px); /* line is at 1rem, center dot on it */
  top: 0.35rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
}

/* event card */
.timeline-content {
  padding: 0.75rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
  width: 550px;
  height: 250px
}

.timeline-content:hover {
  outline: 20px gold;
  background: black;
  transform: translateX(30px)
}

.active-event {
  padding: 0.75rem 1rem;
  border: 2px solid gold;
  border-radius: 12px;
  background: black;
  position: fixed;
  top: 50%;           /* Move top edge to the middle */
  left: 50%;          /* Move left edge to the middle */
  transform: translate(-50%, -50%);
  width: 550px;
  max-height: 800px;
  z-index: 2147483647;
}

.change-card {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}

form input,
form textarea {
  padding: 0.75rem;
  font-size: 1rem;
}

form button {
  padding: 0.75rem;
  font-size: 1rem;
}

